@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "daisyui";
/* Use NuxtUIcons */

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-inter: Inter, sans-serif;
  /* --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif; */
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: "light";
  --color-base-100: #f4f6f7;
  --color-base-200: #eef1f3;
  --color-base-300: #e6eaee;
  --color-base-content: oklch(23.574% 0.066 313.189);
  --color-primary: oklch(51% 0.262 276.966);
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-primary-light: oklch(0.5916 0.2177 282.85);
  --color-primary-light-content: oklch(0.5916 0.2177 282.85);
  --color-primary-dark: oklch(0.4393 0.2865 268.55);
  --color-primary-dark-content: oklch(0.4393 0.2865 268.55);
  --color-secondary: rgba(69, 26, 245, 0.08);
  --color-secondary-content: oklch(51% 0.262 276.966);
  --color-accent: oklch(85% 0.138 181.071);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(60% 0.2 240);
  --color-info-content: oklch(98% 0.002 247.839);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(75% 0.183 55.934);
  /* --color-warning: oklch(75% 0.183 55.934, / <alpha-value>); */
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --color-middle-progress: oklch(0.9267 0.2166 114.35);
  --color-middle-progress-content: oklch(27% 0.105 12.094);
  --color-expression: oklch(0.553 0.222 301.36);
  --color-expression-content: oklch(98% 0.002 247.839);
  --color-word: oklch(60% 0.2 240);
  --color-word-content: oklch(98% 0.002 247.839);
  --radius-selector: 1rem;
  --radius-field: 0.3rem;
  --radius-box: 0.2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  color-scheme: light only;
}

/* Force light theme, ignore system preferences */
html[data-theme="light"] {
  color-scheme: light only;
}

body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  line-height: 1.5;
  font-weight: 400;
  /* overflow:hidden; */
  /* The font of the website */
  /* font-family: "Chau Philomene One", sans-serif; */
  /* font-family: "Bricolage Grotesque", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: var(--color-base-100);
}

/* Keep this */
.isolate {
  height: 100%;
}
